<!DOCTYPE html>
<html>
	<head>
		<title>Rails Twitter App | Home</title>
	</head>
	<body>
		<h1>Rails Twitter App</h1>
		<p>
			This is the home page for the
			<a href="http://railstutorial.org/">Ruby on Rails tutorial</a>
			Rails Twitter App.
		</p>
	</body>
</html>